.footer {
  padding: 2rem 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-color);
    background: var(--background);
  border-top: 1px solid var(--border-color);
}

.links {
  margin-bottom: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.links a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.2s ease;
}

.links a:hover {
  color: var(--link-hover-color);
}

.copy {
  margin: 0;
}

/* Мобильная адаптация */
@media (max-width: 600px) {
  .links {
    flex-direction: column;
    gap: 0.5rem;
  }
}
